body {
    font-family: 'Handlee', cursive;
    background-color: black;
}
* {
  box-sizing: border-box;
}

.container {
    background-color: white;
    position: center;
    height: 430px;
    width:  600px;
    margin: auto;
    }

.title {
    padding-top: 30px;
    font-size: 35px;
}

/* Create two equal columns that floats next to each other */
.column {
    font-family: 'Handlee', cursive;
    font-size: 17px;
  float: left;
  width: 50%;
  padding: 30px 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
  } */

  .geek{
  float: right;
  margin-right: 20px;
  margin-top: 20px; 
  top: 8px;
  right: 16px;
  width: 60px;
  
  }
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 4px;
}
.button {
 background-color: rgb(144, 155, 144);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: -95px;
  margin-top: 30px;
  cursor: pointer;
  font-family: 'Handlee', cursive;
}
